{% extends 'admin/master.html' %}
{% block head %}
<style>
<link rel="stylesheet" media="screen" href="static/bootstrap.min.css">
<link rel="stylesheet" href="static/bootstrap-theme.min.css">
</style>
<style>
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
</style>
{% endblock head %}
{% block body %}
{{ super() }}
<h1>Lot Configuration</h1>
<p>Please enter the ID and source location of the video feed. If no lots have been created, please select the "Create New Lot" button.</p>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        <p>
	    {{ form.camera_id.label }}<br>
            {{ form.camera_id(class_="form-control") }}
        </p>
        <p>
	    {{ form.lot_information.label }}<br>
            {{ form.lot_information(class_="form-control") }}<form>
<br>
  <input type="button" class="button" value="Create New Lot" onclick="msg()">
</form>

<script>
function msg() {
  window.location.href = '/admin/lot/new/?url=%2Fadmin%2Flot%2F';
}
</script>
        </p>
{% endblock body %}