<!DOCTYPE html>
<html>
<head>
	<title>Campus Parking</title>
	<h2 class="header">Real-Time Parking Detection</h2>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

	<nav class="navbar navbar-light bg-light">
			<a class="navbar-brand" href="#">Navbar</a>
	</nav>


	<style>
		* {
  			font-family: Arial;
		}
		body {
			margin: 0;
		}
			
		.header {
			background-color: #f1f1f1;
			padding: 20px;
			text-align: center;
		}
	</style>	
</head>
<body>
	<h4>Available Parking</h4>
	<div id="content">content</div>
	<div id="content">content</div>
	<div id="content">content</div>
	<br>
	<br>
	<br>
	<p>This is a web interface for the Real-Time Parking Detection system.</p>
</body>
</html>